*
{
	font-family: 'Prompt', Calibri, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

:root
{
	--xlarge-size: 3rem;
	--large-size: 2rem;
	--medium-size: 1.25rem;
	--default-size: 1rem;
	--small-size:0.75rem;
	--accent1: hsl(199,77%,49%);
	--accent2: hsl(241,91%,64%);
}

[data-theme="dark"]
{
	--base: hsl(0,0%,92%);
	--shade: hsl(0,0%,85%);
	--balance: hsl(0,0%,48%);
	--opp-base: hsl(0,0%,15%);
	--opp-shade: hsl(0,0%,8%);
	--opp-shade2: hsl(0,0%,4%);
	--opp-shade3: hsl(0,0%,12%);
	--base-opacity: hsla(0,0%,0%, 0.90);
}

[data-theme="light"]
{
	--base: hsl(0,0%,15%);
	--shade: hsl(0,0%,8%);
	--balance: hsl(0,0%,48%);
	--opp-base: hsl(0,0%,90%);
	--opp-shade: hsl(0,0%,96%);
	--opp-shade2: hsl(0,0%,100%);
	--opp-shade3: hsl(0,0%,94%);
	--base-opacity: hsla(0,0%,100%, 0.8);
}



html
{
	font-size: 16px;
}

body
{
	background-color: var(--opp-base);
	color: var(--shade);
	overflow-x: hidden;
}

section
{
	display: block;
	width: 100%;
}

.bodywrap
{
	padding: 0 15px;
}

.navsec
{
	width: 90%;
	display: block;
	height: 80px;
	background-color: var(--base-opacity);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	margin: 0 auto;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	border-radius: 45px;
	top: 20px;
	z-index: 9;
}

.nav-wrapper
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	height: 80px;
	padding: 0 25px;
	z-index: 2;
}

.logo-container
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo
{
	max-width: 180px;
}

.nav-tabs
{
	display: flex;
	font-weight: 500;
	font-size: var(--medium-size);
	list-style: none;
}

.nav-tab:not(:last-child)
{
	padding: 10px 25px;
	margin: 0;
}

.nav-tab:last-child
{
	padding: 10px 0 0 25px;
}

.nav-tab a
{
	color: inherit;
	text-decoration: none;
}

.menu-btn
{
	cursor: pointer;
}

.hidden
{
	display: none;
}


@media screen and (max-width: 800px)
{
	.nav-container
	{
		position: fixed;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 100%;
		height: calc(100vh - 40px);
		background: var(--base-opacity);
		backdrop-filter: blur(1px);
		transition: all 0.2s ease-in;
		border-radius: 35px;
	}

	.nav-tabs
	{
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
	}

	.nav-tab
	{
		color: var(--base);
	}

	.nav-tab:not(:last-child)
	{
		padding: 20px 25px;
		margin: 0;
		border-right: unset;
	}

	.nav-tab:last-child
	{
		padding: 15px 25px;
	}

	.menu-btn
	{
		position: relative;
		display: block;
		margin: 0;
		width: 30px;
		height: 15px;
		cursor: pointer;
		z-index: 2;
		padding: 5px;
		border-radius: 10px;
	}

	.menu-btn .menu
	{
		display: block;
		width: 100%;
		height: 1px;
		border-radius: 2px;
		background-color: var(--base);
		;
	}

	.menu-btn .menu:nth-child(2)
	{
		margin-top: 6px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3)
	{
		margin-top: 6px;
	}

	#menuToggle:checked + .menu-btn .menu
	{
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1)
	{
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2)
	{
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3)
	{
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:not(:checked) ~ .nav-container
	{
		display: none;
	}

	#menuToggle:checked ~ .nav-container
	{
		z-index: -1;
		display: flex;
		animation: menu-slide-left2 0.3s ease;
	}
	@	keyframes menu-slide-left
	{
		0% {
			transform: translateX(200px);
	}

	to
	{
		transform: translateX(0);
	}
}
}

.topcontent
{
	padding-top: 170px;
	overflow: hidden!important;
	height: 100vh;
}

.w90
{
	width: 90%;
	display: block;
	margin: 0 auto;
}

.servs-sec
{
	background:linear-gradient(-45deg, var(--opp-shade) 70%, var(--opp-base)); 
	padding: 20px;
	border-radius: 20px;	 
	display: flex; flex-wrap:wrap;
}

 

.isticky
{
	position: sticky; 
	top: 110px;
	z-index: 0;
}



.title {
	font-size:   clamp(2rem, 4.3vw, 6rem);	
	font-weight: 300; line-height: 1.2; font-weight: bold;}
.gradtext {  background: var(--accent1);
	background: -webkit-linear-gradient(125deg, var(--accent1) 0%, var(--accent2) 80%);
	background: -moz-linear-gradient(125deg, var(--accent1) 0%, var(--accent2) 80%);
	background: linear-gradient(125deg, var(--accent1) 0%, var(--accent2) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}

.servs-sec .titleblock
{flex: 1 1 40%;   min-width: 40%;  
}

.servs-sec .servicesblock
{
	font-size: var(--default-size);
	flex: 1.5 1 600px; min-height: calc(100vh - 220px);
}

.servlist {display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, calc(52% - 40px))); gap: 15px 20px;}
.servlist li {font-size:   clamp(1.2rem, 1.5vw, 1.5rem);	  font-weight: 300; list-style: none;line-height: 1.3;
    padding-left: 30px;}
.servlist li:before {content: "\eed6";font-family: "IcoFont"; color: var(--accent2);
	font-weight: normal;
	position: absolute; 
    margin-left: -30px;}

.themechange
{
	background-color: var(--base);
	color: var(--opp-shade);
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 39px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
}

#cursordiv
{
	display: none!important;
}

.topcontent > #cursordiv
{
	z-index: -1;
	display: block!important;
	width: 30em;
	height: 30em;
	background: radial-gradient(circle, rgba(202,158,255,0.8) 0%, rgba(175,238,255,0.3) 60%, var(--opp-base) 100%);
	position: absolute;
	filter: blur(30px);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: 0.1s ease-out;
}

@media(max-width:576px)
{
	.logo
	{
		max-width: 120px;
	}

.servs-sec{
	flex-wrap: wrap;
}
.servs-sec .titleblock,
.servs-sec .servicesblock
{
	width: 100%;
}
}

.noscroll {overflow: hidden;}

.ribbon1 {background:var(--accent1);  white-space:nowrap; transform:rotate(-3deg);height:42px;   overflow:hidden; margin-top:80px}
.ribbon1 span:nth-child(even), .ribbon2 span:nth-child(even) {color:#1b1b1b}
.ribbon1 span, .ribbon2 span {padding:0 15px;font-size:1.75rem;  color:#fff; }

.ribbon1 .content {  position: absolute;top:0;  
  -webkit-animation: move-left 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: move-left 8s linear infinite alternate;
}

.ribbon2 {background:var(--accent2);     white-space:nowrap; transform:rotate(3deg); height:42px;     margin-top:-20px; overflow:hidden  }
 
 

.ribbon2 .content { position: absolute; top:0;
-webkit-animation: move-right 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: move-right 8s linear infinite alternate;
}

@keyframes move-left{
  
	from {
	  left: 0;
	}
	to {
	  left: -300px;
	}
	
  }

@keyframes move-right{
  from {
    right: 0;
  }
  to {
    right: -300px;
  }
  
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

.glide__slide {
  border: 1px solid black;
  text-align: center;
}

 

#glide4 .glide__slides {
  background-color: #f3f1f1;
  margin-top: 40px;
  padding: 20px 0;
}
#glide4 .glide__slide {
  position: relative;
  height: 60px;
  border: none;
}
#glide4 a {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#glide4 img {
  margin: 0 auto;
  display: block;
  max-width: 70%;
  max-height: 60px;
}

button.glide__arrow {
  background-color: red;
  border: none;
  font-size: 11px;
}
button.glide__arrow--left {
  left: 5px;
}
button.glide__arrow--right {
  right: 5px;
}

